.popup {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

/* Style for popup content */
.popup-content {
  position: relative;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
}
.popup h1{
  text-align: center;
}
.popup-content label{
      font-weight: bold;
}

/* Style for the login button */
.login-btn,.signup-btn {
  background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding for the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Make it inline element */
  font-size: 16px; /* Text size */
  margin: 10px 2px; /* Some margin around the button */
  cursor: pointer; /* Change mouse pointer to hand when hovering */
  border-radius: 5px; /* Rounded corners */
}
.signup-btn:hover,
.login-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14px;
}